:root {
    --global-padding: 0.5rem;
}
body {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
}

header, nav.breadcrumbs {
    padding-block: 0.5rem;
    width: 100dvw;
}
main {
    position: relative;
    max-width: initial;
    margin: initial;
    overflow: hidden;
    background: var(--background-gradient);
    background-blend-mode: hue;
    background-size: cover, 200px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
footer {
    padding: 0.5rem;
}
article.slide {
    background: var(--clr-slide-background);
    color: var(--clr-slide-text);
    filter: drop-shadow(0 0 15px var(--clr-slide-text));
    position: absolute; 
    inset: 0;
    padding: 0;
    max-width: 1200px;
    transition: opacity 750ms, translate 750ms;
    opacity: 0;
    /* display: grid; */
    text-align: center;
    /* place-items: center; */
    overflow-x: hidden;
    overflow-y: auto;
}
@media (width >= 1200px) {
    article.slide {
        /* padding: 1rem; */
        border-radius: 0.5em;
        margin: 0.5rem auto;
    }
}

article.slide.prev {
    translate: -100dvw 0;
}
article.slide.next {
    translate: 100dvw 0;
}
article.slide.current {
    opacity: 1;
    translate: none;
    z-index: 20;
}

article.slide a {
    color: inherit;
}

article.slide p {
    text-wrap: balance;
    max-width: 80ch;
    margin-inline: auto;
}

article.slide h2,
article.slide h3 {
    margin-block: 0.5em;
    border-width: 0;
}

article.slide blockquote {
    border-radius: 0;
    border: 0;
}

article.slide .logo {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}
article.slide .slide-number {
    font-size: 0.75em;
    position: absolute;
    width: 2em;
    aspect-ratio: 1;
    bottom: 0.25rem;
    left: 0.25rem;
    padding: 0.25rem;
    border-radius: 1em;
    display: grid;
    place-items: center;
    backdrop-filter: brightness(0.6);
    color: white;
}

article.slide pre {
    white-space: pre-wrap;
}

article.slide.title {
    display: grid;
    place-items: center;
}





/* SIMPLE SLIDES */

article.slide.simple {
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
}
article.slide.simple .content {
    padding-inline: 2rem;
}

@property --progress {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 100%;
}

#slide-progress {
    width: 100%;
}
#slide-progress div {
    --progress: 0%;
    background: linear-gradient(to right, var(--clr-accent), var(--clr-accent2));
    height: 0.25rem;
    width: var(--progress);
    transition: --progress 800ms ease-out;
}


body>footer {
    font-weight: 200;
    max-width: none;
    margin-inline: 0;
}

#theme {
    position: fixed;
    bottom: var(--global-padding);
    right: var(--global-padding);
    max-width: none;
    margin: 0;
    padding-block: 0;
}


@media (width >=600px) {
    main {
        font-size: initial;
    }
}
@media (width >=800px) {
    main {
        font-size: 1.4em;
    }
}