{{define "bodyAttributes"}} class="hero"{{end}}

{{ define "main" }}
    <section>
        <h2>{{.Title}}</h2>
        {{ .Content }}
    </section>

    <section aria-labelledby="units">
        <h2 id="units">Units</h2>
        <div class="grid">
            {{ range where .Sections "Type" "unit"}}
            {{.Render "summary"}}
            {{ end }}
        </div>
    </section>
{{ end }}

{{ define "footer" }}
<p class="balanced">
    If you find any errors in the materials on this website or have any suggestions for updates then please contact the module leader.
</p>
{{ end }}