{{define "css"}}
<link rel="stylesheet" href="/css/presentation.css">
{{end}}

{{define "javascript"}}
<script src="/js/presentation.js" type="module"></script>
{{end}}

{{define "bodyAttributes"}} class="presentation"{{end}}

{{ define "main" }}
  <article class="slide title current" aria-label="{{.Title}}">
    <h2>{{.Title}}</h2>
    {{partial "logo.html" .}}
    <h3>{{ .Content }}</h3>
    {{ with .Params.Author}}<small>{{.}}</small>{{end}}
  </article>
  {{ $slides := .Resources.Match "slides/*.md" }}
  {{ range sort $slides "Params.Order" "asc" }}
    {{.Render -}}
  {{ end }}  
{{ end }}

{{ define "footer" }}
  <div id="slide-progress"><div></div></div>
  <small id="instructions">Use arrow keys or swipe left and right to navigate</small>
{{ end }}